@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Patrick+Hand&family=Poppins:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,900&display=swap');

* {
    box-sizing: border-box;
    text-decoration: none;
    user-select: none;
}

html {
    font-size: 62.5%;
}

body {
    height: 100%;
    background: linear-gradient(to right, #252525, #4da674);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0.1);
    height: 100%;
    width: 100%;
}

header a {
    line-height: 40px;
    width: 130px;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
    color: #dbc8ed;
    font-family: Jetbrains Mono;
}

header a:hover {
    transform: scale(1.3);
    transform-origin: top;
    color: #c3e8c9;
    text-decoration: underline;
    transition: 0.1s all ease;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.1);
    filter: blur(10px);
    width: 100%;
    height: 100%;
}

/* 920 x 560 */

.content {
    position: relative;
    z-index: 1;
    height: 80vh;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 5vh auto;
    box-shadow: 0 0 5px white;
    border-radius: 10px;
}

.content .infor {
    width: 60%;
    font-size: 4rem;
    font-family: Consolas;
    color: white;
}

.content .infor .div {
    margin-top: 4rem;
    font-size: 2rem;
}

.content .clip-text {
    display: flex;
}

.content .clip-text div {
    width: 24ch;
    margin-left: 1ch;
    color: #c8a8e9;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid black;
    animation: typing 6s steps(35) 1s infinite normal both, blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    0%, 10% {
        width: 0;
    }

    30%, 70% {
        width: 24ch;
    }

    90%, 100% {
        width: 0%;
    }
}

@keyframes blink-caret {
    50% {
        border-color: transparent;
    }
}

.content img {
    height: 25vw;
    border-radius: 50%;
    filter: drop-shadow(0 0 10px white);
    background-color: blue;
}


@media screen and (min-width: 1001px) and (max-width: 1920px) {
    .content .infor p, .content .infor .clip-text div {
        font-size: 3rem;
    }

    .content .infor .div p {
        font-size: 2rem;
    }
}

@media screen and (max-width: 1000px) { 
    .content {
        flex-direction: column-reverse;
    }

    .content .infor {
        width: 80%;
    }

    .content .infor p, .content .infor .clip-text div {
        font-size: 2.5rem;
    }

    .content .infor .div p {
        font-size: 1.6rem;
    }

    .content .avartar {
        height: 20vh;
    }
}

@media screen and (max-width: 576px) {
    .content .infor p, .content .infor .clip-text div {
        font-size: 1.6rem;
    }

    .content .infor .div p {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 430px) {
    .content .avartar {
        height: 30vh;
    }
}

@media screen and (max-width: 390px) {
    .content .avartar {
        transform: scale(1.5);
    }
}